@font-face {
    font-family: Dyslexic;
    src: url(polices/OpenDyslexic-Regular.otf);
}

@font-face {
    font-family: Belle Allure;
    src: url(polices/BelleAllureCE-Gros.otf);
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:root {
    /*Mode clair*/
    --couleur-fond-general: #e7ecff;   
    --couleur-bordure-haut: #000000;
    --couleur-fond-bas: rgb(96, 96, 96);
    --couleur-texte: #000000;
    --couleur-zone-lecture: #ffffff;
}


:root[data-theme="dark"] {
    /*Mode sombre*/
    --couleur-fond-general: #24242e;   
    --couleur-bordure-haut: #ffffff;
    --couleur-fond-bas: rgb(117, 117, 117);
    --couleur-texte: #ffffff;
    --couleur-zone-lecture: #000000;
}


body {
    background-color: var(--couleur-fond-general);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, center;
    background-size: 300px, cover;
    transition: background-color 0.3s linear;
    display: flex;
    flex-direction: column;
}

body.openboard {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid #000000;
    background: #ffffff;
}



#haut {
    height: 80px;
    background: linear-gradient(135deg, #e0e0e0 25%, #b0b0b0 50%, #e0e0e0 75%);
    padding-left: 100px;
    background: linear-gradient(135deg, #7bfae5, #00796b);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

#zone-boutons-haut {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 80px;
}

#zone-boutons-haut.debut {
    justify-content: right;
}

#zone-boutons{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#zone-boutons button {
    width: 70px;
    height: 70px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center 5px;
    padding: 45px 5px 5px 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

#bas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: linear-gradient(135deg, #7bfae5, #00796b);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#milieu {
    position: relative;
    flex: 1;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #7da0ff 25%, #f0f0f5 100%);
    overflow: hidden;
}

.bouton-reussite {
    height: 50px;
    width: 85px;
    border-radius: 50%;
    border: 1px #000000 solid;
    margin-left: 10px;
    margin-right: 10px;
}

.bouton-haut {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px #000000 solid;
    margin-left: 10px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    vertical-align: middle;
}

#diaporama {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

#contenu-diaporama {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transition: color 0.3s linear;
    font-feature-settings: "calt" 1;
    user-select: none;
}

#contenu-diaporama.blanc {
    color: #ffffff;
    transition: color 0.3s linear;
}

#progression {
    position: relative;
    height: 20px;
    width: calc(100% - 40px);
    background-color: #4a5cff;
    background-image: url(images/hachures.svg);
    background-repeat: repeat;
    margin: 10px 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000000;
}

#barre-progression-next {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    max-width: 100%;
    background-color: rgba(218, 241, 182, 0.562);
    transition: width 0.2s linear;
}


#barre-progression {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    max-width: 100%;
    background-color: rgba(172, 255, 47, 0.514);    
    transition: width 0.2s linear;
}


#fin {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #7da0ff 25%, #f0f0f5 100%);
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000,
    2px -2px 0 #000000, -2px 2px 0 #000000;
    color: #ffffff;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#fin button {
    font-size: 36px;
    margin: 15px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 5px center;
    padding: 5px 5px 5px 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}



#options {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-size: 64px;
    z-index: 20;
    text-align: center;
}

#options * {
    font-size: 24px;
}

#options input[type=number] {
    width: 2.2em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#accueil {
    background-color: #ffffffb6;
    color: #3a2c2c;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 5px auto;
    width: calc(100% - 10px);
    max-width: 800px;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: justify;        

}


#zone-listes {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0px auto 10px auto;
    font-size: 0;
}

.zone-liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff75;
    width: 50%;
    height: 100%;
    margin: 0px 0px 0px 10px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    text-align: center;      
}

.zone-liste:first-of-type {
    margin: 0px;
}

.input-liste {
    flex: 1;
    display: inline-block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: calc(100% - 20px);
    border: 2px #000000 outset;
    border-radius: 5px;
    margin: 10px 5px;
    overflow-y: auto;
    resize: none;
}

#boxliste button {
    font-size: 36px;
    margin: 20px auto;
    width: fit-content;
}



.hide {
    display: none !important;
}

#educajou {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1000;
    -webkit-user-drag: none; /* Pour Chrome, Safari et Opera */
    user-drag: none; /* Pour les navigateurs supportant la propriété */    
}

#reglages {
    width: fit-content;
    margin: auto;
}

#bouton-retour {
    width: fit-content;
}

.form-group {
    display: flex;
    align-items: center;
    border: 2px black solid;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}

.form-group:hover {
    background-color: #e0e0e0;
}

.form-group label {
    margin-right: 10px; /* Espace entre le label et l'input */
}

#casse {
    flex-direction: column;
    align-items: flex-start;
}

.minuscules {
    text-transform: none;
}

.majuscules {
    text-transform: uppercase;
}

.cursive {
    font-family: Belle Allure;
}

.dyslexic {
    font-family: Opendyslexic;
}

#darkbox {
    /* Elle doit prendre toute la largeur et toute la hauteyr  */
      position: fixed;
      z-index: 999; /* O la place sous la lightbox */
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }
    
    .lightbox {
      position: fixed;
      z-index: 1000; /* O la place sur la lightbox */
      display: flex;
      flex-direction: column;
      width: 500px;
      max-width: calc(100% - 24px);
      height: 60%;
      top: 50%;
      left: 50%;
      padding: 10px; /* Marge intérieure */
      border-radius: 20px; /* Coins arrondis */
      box-shadow: 0px 0px 15px #ffffff; /* Ombre transparente blanche */
      border: 2px solid #000000; /* Bordure de 2px noire */
      transform: translateX(-50%) translateY(-50%); /* Pour centrer dans la page */
      background-color: #ffffff; /* Couleur de fond */
    
    }
    
    .lightbox h1 { /* Le titre */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      min-height: 36px;
      margin: 10px;
    }
    
    .contenu-lightbox {
      flex: 1;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: auto;
      text-align: left;
      width: fit-content;
      margin: auto;
    }
    
    .bouton-fermer {
      position : fixed;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url(images/bouton_fermer.svg);
      background-size: contain;
      background-color: transparent;
      border: none;
      outline: none;
    }

    #informations {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 60px;
        height: 60px;
        background-image: url(images/infos.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border:none;
        outline: none;
        user-select: none;
        background-color: transparent;
    }

#titre {
    position: absolute;
    font-size: 0px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #1d2e20;
    text-shadow: 2px 2px 0 #ffffff, -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff, -2px 2px 0 #ffffff;
    line-height: 70px; /* Ajouté pour aligner le slogan */
}

#logo {
    height: 60px;
    margin-right: 10px;
    vertical-align: top;
}

#texte-titre {
    font-size: 60px;
    line-height: 70px;
    font-family: Dyslexic;
    vertical-align: baseline;
}

#texte-slogan {
    padding-left: 10px;
    font-size: 24px;
    font-family: Dyslexic;
    vertical-align: baseline; /* Aligné sur la base du titre */
}

@media (max-width: 960px) {
    #texte-slogan {
        display: none;
    }
}


.popup-copie {
    position: absolute;
    background-color: rgba(136, 255, 99, 0.884);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid green;
    font-size: 18px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s linear;
}
        
.invisible {
    opacity: 0;    
}

#zone-qrcode img {
    display: inline-block !important;
  }

#div-qrcode {
height: auto;
width: calc(100% - 40px);
max-width: 600px;
padding: 0;
overflow: hidden;
}

#div-qrcode img, #div-qrcode canvas {
width: calc(100% - 20px) !important;
} 

#entete-qrcode {
    margin: 0;
    padding-right: 2px;
    border: 0px;
    height: 40px;
    text-align: right;
    background-color: #6bdcfe;
  }
  
  #pied-qrcode {
    margin: 0;
    padding-right: 2px;
    border: 0px;
    height: 60px;
    text-align: center;
    background-color: #6bdcfe;
  }
  
  #bouton-telecharger-qrcode {
    background-color: #ADD8E6;
    padding: 10px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;  
  }
  
  #bouton-telecharger-qrcode:hover {
    background-color: #6bdcfe;  
  }
  
  #bouton-fermer-qrcode {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;    
  }

  /* Styles pour les dispositifs en mode paysage */
@media only screen and (orientation: landscape) {

    #div-qrcode {
      width: auto;
      height: 95vh;
      max-height: 600px;    
      padding: 0;
    }
  
    #zone-qrcode {
      height: calc(100% - 100px) !important;
      width: auto !important;
    }
  
    #zone-qrcode canvas {
      height: 100% !important;
      width: auto !important;
    }
  }
  
  #blur {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  
  }
  
  /* Styles pour les dispositifs en mode portrait */
  @media only screen and (orientation: portrait) {
  
    #div-qrcode {
      height: auto;
      width: 95vw;
      max-width: 600px;    
      padding: 0;
    }
  
    #zone-qrcode {
      width: 100% !important;
      height: auto !important;
    }
  
    #zone-qrcode canvas {
      width: 100% !important;
      height: auto !important;
    }
  }